.cart-container{
    text-align: left;
}
.content-cart{
    padding-top: 120px;
    width: 90%;
    margin: auto;
    max-width: 1450px;
    .table{
        width: 100%;
        .image{
            width: 70px;
            height: 100px;
            padding: 15px;
        }
        .text-table{
            padding-left: 1.7%;
            padding-top: 45px;
            font-weight: bold;
            font-size: 15px;
        }
        .btn-delete{
            padding-top: 30px;
        }
    }
    .payment{
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        span{
            font-weight: bolder;
            font-size: 17px;
        }
        .btn-payMent{
            border: none;
            padding: 10px;
            border-radius: 4px;
            background-color: #f8482f;
            color: #fff;
        }
    }
}