//chế độ ban ngày
.card-container1 {
  width: 200px;
  height: 320px;
  margin: 20px 10px;
  // background-color: rgb(250, 250, 248);
  // border: 1px solid rgb(218, 217, 217);
  box-shadow: 0.2px 0.1px 0.7px rgba(0, 0, 0, 0.02),
    0.4px 0.3px 1.7px rgba(0, 0, 0, 0.028),
    0.8px 0.6px 3.1px rgba(0, 0, 0, 0.035),
    1.3px 1.1px 5.6px rgba(0, 0, 0, 0.042),
    2.5px 2.1px 10.4px rgba(0, 0, 0, 0.05), 6px 5px 25px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  &:hover {
    border: 1px solid rgb(54, 181, 219);
    img {
      transform: scale(1.05);
      transition: ease 0.3s;
      overflow: hidden;
    }
  }
  .image {
    overflow: hidden;
    width: 80%;
    height: 230px;
    margin: auto;
    img {
      width: 100%;
      height: 210px;
    }
  }
  p {
    margin-top: 5px;
    color: rgb(20, 20, 20);
    font-size: 14px;
    font-weight: bolder;
    height: 25px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-bottom: 0;
    margin-left: 10px;
  }
  .row1 {
    display: flex;
    .price {
      width: 165px;
      span {
        margin-left: 10px;
        color: red;
      }
    }
    .truck {
      // background-color: rebeccapurple;
      color: rgb(48, 147, 240);
    }
  }
  .row2 {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    p {
      // margin-left: 10px;
      width: 120px;
      color: rgb(62, 197, 35);
    }
    .icon-start {
      color: rgb(252, 183, 34) !important;
      margin-right: 10px;
      .start {
        font-size: 17px;
      }
    }
  }
}

//chế độ ban đêm

.card-container2 {
  border: 1px solid rgb(230, 230, 229);
  width: 200px;
  height: 320px;
  margin: 20px 10px;
  box-shadow: 0.2px 0.1px 0.7px rgba(231, 228, 228, 0.02),
    0.4px 0.3px 1.7px rgba(255, 255, 255, 0.028),
    0.8px 0.6px 3.1px rgba(255, 255, 255, 0.035),
    1.3px 1.1px 5.6px rgba(255, 255, 255, 0.042),
    2.5px 2.1px 10.4px rgba(255, 255, 255, 0.05),
    6px 5px 25px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  &:hover {
    border: 1px solid rgb(224, 224, 224);
    img {
      transform: scale(1.05);
      transition: ease 0.3s;
      overflow: hidden;
    }
  }
  .image {
    overflow: hidden;
    overflow: hidden;
    width: 80%;
    height: 230px;
    margin: auto;
    img {
      width: 100%;
      height: 210px;
    }
  }
  p {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    height: 25px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-bottom: 0;
    margin-left: 10px;
  }
  .row1 {
    display: flex;
    .price {
      width: 165px;
      span {
        margin-left: 10px;
        color: red;
      }
    }
    .truck {
      // background-color: rebeccapurple;
      color: rgb(48, 147, 240);
    }
  }
  .row2 {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    p {
      // margin-left: 10px;
      width: 120px;
      color: rgb(84, 218, 228);
    }
    .icon-start {
      color: rgb(252, 183, 34) !important;
      margin-right: 10px;
      .start {
        font-size: 17px;
      }
    }
  }
}
